@use "../variables";

* {
  box-sizing: border-box;
  backface-visibility: hidden; // removes jagged edges on rotated elements
}

html {
  font-size: 16px;
}

body,
html {
  margin: 0;
  padding: 0;
  background: variables.$white;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 300ms ease;
}

video {
  max-width: 100%;
  height: auto;
}

img.lazy,
.lazy-bg,
.lazy-loaded {
  transition: all 300ms ease;
}

img.lazy,
.lazy-bg {
  filter: blur(0.25em);
}
