@use "../variables";

.brand {
  display: block;
  width: variables.$brandWidth;
  height: variables.$brandHeight;

  svg,
  img {
    display: block;
    width: variables.$brandWidth;
    height: variables.$brandHeight;
  }

  .knockout & {
    @media screen {
      .fill-primary {
        fill: variables.$white;
      }

      .fill-grey {
        fill: rgba(variables.$white, 0.8);
      }
    }
  }
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  width: calc(100% - variables.$innerMedium * 2);
  margin: auto;

  @media (min-width: variables.$screen-md) {
    width: calc(100% - variables.$innerLarge * 2);
  }

  &-full { width: auto; }
  &-larger { max-width: variables.$containerLarger; }
  &-large { max-width: variables.$containerLarge; }
  &-medium { max-width: variables.$containerMedium; }
  &-small { max-width: variables.$containerSmall; }
  &-narrow { max-width: variables.$containerNarrow; }
}

.section {
  padding: variables.$sectionMedium 0;

  &-small { padding: variables.$sectionSmall 0; }
  &-medium { padding: variables.$sectionMedium 0; }
  &-large { padding: variables.$sectionLarge 0; }

  &-zero-top { padding-top: 0; }
  &-zero-bottom { padding-bottom: 0; }
}

.inner {
  padding: variables.$innerMedium;

  &-small { padding: variables.$innerSmall; }
  &-large { padding: variables.$innerLarge; }

  &-zero-x {
    padding-left: 0;
    padding-right: 0;
  }

  &-zero-y {
    padding-top: 0;
    padding-top: 0;
  }
}

.rounded {
  border-radius: variables.$borderRadius;

  &-top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-bottom {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.border {
  border-style: solid;
  border-width: variables.$borderWidth;

  &-thin { border-width: 0.0625em; }
  &-regular { border-width: variables.$borderWidth; }
  &-thick { border-width: variables.$borderThick; }
  &-thicker { border-width: variables.$borderThicker; }

  &-top {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  &-right {
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  &-bottom {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
  }

  &-left {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }
}
